/* -----------------Shared Styles-----------------*/
body {  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

footer {   
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer > p {
    font-size: 20px;
}

footer span {
    font-size: 35px;
    font-weight: bold;
}

#white {
    color: whitesmoke;
}

a {
    font-size: 20pt;
}

a:link {
    color: blue;
}

a:hover {
    color: red;
}

a:visited {
    color: purple;
}

a:active {
    color: cyan;
}

#hidden {
    visibility: hidden;
}

/* -----------------Main pages Unique Styles-----------------*/
h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35pt;
}

/* Note: Zooming the first character of the first word */
span > span {
    float: none;
    font-weight: bolder;
    font-size: 70px;
}

p {
    font-size: 25pt;
}

p > span {
    font-weight: bold;
}

table,td,th {
    width: 900px;
    border: 1px solid black;
}

table tr:first-child {
    font-size: 25pt;
}

table tr {
    font-size: 20pt;
    height: 20px;
}

table td:first-child {
    text-align: center;
    width :20%;
}

details {
    float: none;
}

details summary {
    font-size: 25pt;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

div {
    font-size: 22pt;
    margin-left: 100px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.moveimage {
    margin-left: 275px;
}

/* -----------------Sub Pages Unique Styles-----------------*/
section.subPage {
    text-align: center;
}

section.subPage > h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50pt;
    text-align: center;
}

section.subPage > h2 {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50pt;
    text-align: center;
}

section.subPage > h4 {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35pt;
    text-align: center;
}

section.subPage > p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28pt;
    text-align: center;
}

section.subPage > div {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 400px;
    background-color: white;
    overflow-y: auto;
}

figure > h3 {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif, Times, serif;
    font-weight: bold;
    font-size: 45pt;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/* Note: the center class is made to make images always stay in the middle */
.centerVid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left {
    margin-left: 20%;
    float: left;
}

.right {
    float: left;
}

.middle {
    float: left;
}

.clear {
    clear: left;
}

p.txtBehind {
    position: absolute;
    left: 120px;
    top: 380px;
    z-index: -1;
    color: orangered;
}
